//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Created Time: Sat 04 04 21:27:17 2026

IO_LOC "ddram_dq[15]" M2;
IO_PORT "ddram_dq[15]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[14]" R1;
IO_PORT "ddram_dq[14]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[13]" H3;
IO_PORT "ddram_dq[13]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[12]" P4;
IO_PORT "ddram_dq[12]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[11]" L1;
IO_PORT "ddram_dq[11]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[10]" N2;
IO_PORT "ddram_dq[10]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[9]" K4;
IO_PORT "ddram_dq[9]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[8]" M3;
IO_PORT "ddram_dq[8]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dqs_p[1]" J5,K6;
IO_PORT "ddram_dqs_p[1]" IO_TYPE=SSTL15D PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_dq[7]" B3;
IO_PORT "ddram_dq[7]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[6]" E1;
IO_PORT "ddram_dq[6]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[5]" C1;
IO_PORT "ddram_dq[5]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[4]" E2;
IO_PORT "ddram_dq[4]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[3]" F3;
IO_PORT "ddram_dq[3]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[2]" F4;
IO_PORT "ddram_dq[2]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[1]" F5;
IO_PORT "ddram_dq[1]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dq[0]" G5;
IO_PORT "ddram_dq[0]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddram_dqs_p[0]" G2,G3;
IO_PORT "ddram_dqs_p[0]" IO_TYPE=SSTL15D PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_clk_p" J1,J3;
IO_PORT "ddram_clk_p" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;

IO_LOC "user_led[0]" N14;
IO_PORT "user_led[0]" IO_TYPE=LVCMOS33;
IO_LOC "user_led[1]" N16;
IO_PORT "user_led[1]" IO_TYPE=LVCMOS33;
IO_LOC "user_led[2]" L16;
IO_PORT "user_led[2]" IO_TYPE=LVCMOS33;
IO_LOC "user_led[3]" L14;
IO_PORT "user_led[3]" IO_TYPE=LVCMOS33;
IO_LOC "adda_nrst" A11;
IO_PORT "adda_nrst" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spiflash_mosi_out" D14;
IO_PORT "spiflash_mosi_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spiflash_cs_out" B14;
IO_PORT "spiflash_cs_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spiflash_clk_out" A15;
IO_PORT "spiflash_clk_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart1_tx" R8;
IO_PORT "uart1_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart0_tx" M11;
IO_PORT "uart0_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdm_dout1" T12;
IO_PORT "tdm_dout1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdm_dout0" R11;
IO_PORT "tdm_dout0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pll_fs512_out" T6;
IO_PORT "pll_fs512_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdm_fsync2" T11;
IO_PORT "tdm_fsync2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdm_fsync" P11;
IO_PORT "tdm_fsync" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdm_bclk_f" J16;
IO_PORT "tdm_bclk_f" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdm_bclk_r" J14;
IO_PORT "tdm_bclk_r" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ddram_reset_n" B9;
IO_PORT "ddram_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_odt" R3;
IO_PORT "ddram_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_cke" J2;
IO_PORT "ddram_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_dm[1]" K5;
IO_PORT "ddram_dm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_dm[0]" G1;
IO_PORT "ddram_dm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_cs_n" P5;
IO_PORT "ddram_cs_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_we_n" L2;
IO_PORT "ddram_we_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_cas_n" R6;
IO_PORT "ddram_cas_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_ras_n" R4;
IO_PORT "ddram_ras_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_ba[2]" H5;
IO_PORT "ddram_ba[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_ba[1]" D3;
IO_PORT "ddram_ba[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_ba[0]" H4;
IO_PORT "ddram_ba[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[13]" C8;
IO_PORT "ddram_a[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[12]" A3;
IO_PORT "ddram_a[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[11]" B7;
IO_PORT "ddram_a[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[10]" K3;
IO_PORT "ddram_a[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[9]" F9;
IO_PORT "ddram_a[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[8]" A5;
IO_PORT "ddram_a[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[7]" D8;
IO_PORT "ddram_a[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[6]" B1;
IO_PORT "ddram_a[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[5]" E6;
IO_PORT "ddram_a[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[4]" C4;
IO_PORT "ddram_a[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[3]" F8;
IO_PORT "ddram_a[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[2]" D6;
IO_PORT "ddram_a[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[1]" A4;
IO_PORT "ddram_a[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddram_a[0]" F7;
IO_PORT "ddram_a[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "enet_mdc" F14;
IO_PORT "enet_mdc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "rmii_txd[1]" E14;
IO_PORT "rmii_txd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rmii_txd[0]" D16;
IO_PORT "rmii_txd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rmii_txen" E16;
IO_PORT "rmii_txen" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "i2c1_sda" T8;
IO_PORT "i2c1_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2c1_scl" P8;
IO_PORT "i2c1_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2c0_sda" P9;
IO_PORT "i2c0_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2c0_scl" T9;
IO_PORT "i2c0_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "enet_mdio" F16;
IO_PORT "enet_mdio" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "spiflash_miso_in" E15;
IO_PORT "spiflash_miso_in" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "uart1_rx" T7;
IO_PORT "uart1_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "uart0_rx" T13;
IO_PORT "uart0_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "tdm_din1" M14;
IO_PORT "tdm_din1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "tdm_din0" M15;
IO_PORT "tdm_din0" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "pll_fs512_in" P6;
IO_PORT "pll_fs512_in" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk_27m" H11;
IO_PORT "clk_27m" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sys_resetn" T10;
IO_PORT "sys_resetn" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rmii_rxd[1]" C9;
IO_PORT "rmii_rxd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rmii_rxd[0]" F15;
IO_PORT "rmii_rxd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rmii_crsdv" M6;
IO_PORT "rmii_crsdv" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rmii_ref_clk" A9;
IO_PORT "rmii_ref_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
