//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12
//Part Number: GW5A-LV25MG121NC1/I0
//Device: GW5A-25
//Device Version: A
//Created Time: Sat 05 02 16:09:11 2026

IO_LOC "debug_rmii_clk_o" E10;
IO_PORT "debug_rmii_clk_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "debug_mac_tx_byte_sent_o" J10;
IO_PORT "debug_mac_tx_byte_sent_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "debug_mac_tx_clk_o" A11;
IO_PORT "debug_mac_tx_clk_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spictrl_irq_n_o" E11;
IO_PORT "spictrl_irq_n_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spictrl_miso_o" L11;
IO_PORT "spictrl_miso_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdm_dout1" J5;
IO_PORT "tdm_dout1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdm_dout0" H8;
IO_PORT "tdm_dout0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pll_fs512_out" J11;
IO_PORT "pll_fs512_out" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdm_fsync" H5;
IO_PORT "tdm_fsync" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdm_bclk_f" F5;
IO_PORT "tdm_bclk_f" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tdm_bclk_r" G8;
IO_PORT "tdm_bclk_r" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "enet_mdc" C11;
IO_PORT "enet_mdc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rmii_txd[1]" A10;
IO_PORT "rmii_txd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rmii_txd[0]" G11;
IO_PORT "rmii_txd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rmii_txen" G10;
IO_PORT "rmii_txen" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "enet_mdio" C10;
IO_PORT "enet_mdio" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "spictrl_clk_i" L5;
IO_PORT "spictrl_clk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spictrl_cs_n_i" K5;
IO_PORT "spictrl_cs_n_i" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spictrl_mosi_i" K11;
IO_PORT "spictrl_mosi_i" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "tdm_din0" G7;
IO_PORT "tdm_din0" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rmii_rxd[1]" D11;
IO_PORT "rmii_rxd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rmii_rxd[0]" D10;
IO_PORT "rmii_rxd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rmii_crsdv" B11;
IO_PORT "rmii_crsdv" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rmii_ref_clk" B10;
IO_PORT "rmii_ref_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk_50m" E2;
IO_PORT "clk_50m" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "tdm_din1" H7;
IO_PORT "tdm_din1" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
