
#include <zephyr/dt-bindings/dma/stm32_dma.h>

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&spi1 {
    status = "okay";
    pinctrl-names = "default";
    /* Nucleo-H753ZI SPI1 pinout */
    pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pb5>;
    
    dmas = <&dmamux1 0 38 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH)>,
           <&dmamux1 1 37 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH)>;
    dma-names = "tx", "rx";
    
    eth0: spi-ethernet@0 {
        compatible = "vendor,spi-ethernet";
        reg = <0>;
        /* Max SPI clock in Hz (25 MHz) */
        spi-max-frequency = <25000000>;
        /* Dedicated GPIO CS on D14/PB9 for this device */
        cs-gpios = <&gpiod 14 GPIO_ACTIVE_LOW>;
        /* IRQ on a valid GPIO0 bank pin (0..21 on ESP32-S3) */
        int-gpios = <&gpioa 8 GPIO_ACTIVE_LOW>;
        full-duplex;
        
        /* Optional: feste MAC Adresse */
        local-mac-address = [00 1c 23 17 4a cb];
    };
};

&mac {
	status = "disabled";
};

&lpuart1 {
    status = "disabled";
};

/* Enable FMC bank 0 with a 16-bit bus on unused pins for the Ethernet FMC bridge */
&fmc {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <
		&fmc_a0_pf0 &fmc_a1_pf1 &fmc_a2_pf2 &fmc_a3_pf3
		&fmc_a4_pf4 &fmc_a5_pf5 &fmc_a6_pf12 &fmc_a7_pf13
		&fmc_a8_pf14 &fmc_a9_pf15
		&fmc_a10_pg0 &fmc_a11_pg1 &fmc_a12_pg2 &fmc_a13_pg3
		&fmc_a14_pg4 &fmc_a15_pg5
		&fmc_d0_pd14 &fmc_d1_pd15 &fmc_d2_pd0 &fmc_d3_pd1
		&fmc_d4_pe7 &fmc_d5_pe8 &fmc_d6_pe9 &fmc_d7_pe10
		&fmc_d8_pe11 &fmc_d9_pe12 &fmc_d10_pe13 &fmc_d11_pe14
		&fmc_d12_pe15 &fmc_d13_pd8 &fmc_d14_pd9 &fmc_d15_pd10
		&fmc_nbl0_pe0 &fmc_nbl1_pe1
		&fmc_noe_pd4 &fmc_nwe_pd5 &fmc_ne1_pd7
	>;

	eth_fmc: sram@60000000 {
		compatible = "st,fmc-psram";
		reg = <0x60000000 0x00100000>;
		bank = <1>;
		st,mem-buswidth = <16>;
		status = "okay";
	};
};
